---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Details from "../components/Details.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title="Rhema Journal"
      description="An app for journaling God's word"
    />
  </head>
  <body
    class="max-w-full flex flex-col min-h-screen items-center overflow-x-hidden"
  >
    <div class="flex-grow w-screen">
      <Header />
      <Hero />
      <Details />
    </div>
    <Footer />
  </body>
</html>
