<div class="even:scroll-left odd:scroll-right">
  <sup>1</sup> Ἰησοῦς δὲ ἐπορεύθη εἰς τὸ Ὄρος τῶν Ἐλαιῶν. <sup>2</sup> Ὄρθρου δὲ
  πάλιν παρεγένετο εἰς τὸ ἱερόν, καὶ πᾶς ὁ λαὸς ἤρχετο πρὸς αὐτόν, καὶ καθίσας ἐδίδασκεν
  αὐτούς. <sup>3</sup> ἄγουσιν δὲ οἱ γραμματεῖς καὶ οἱ Φαρισαῖοι γυναῖκα ἐπὶ μοιχείᾳ
  κατειλημμένην, καὶ στήσαντες αὐτὴν ἐν μέσῳ <sup>4</sup> λέγουσιν αὐτῷ, Διδάσκαλε,
  αὕτη ἡ γυνὴ κατείληπται ἐπ' αὐτοφώρῳ μοιχευομένη·
  <sup>5</sup> ἐν δὲ τῷ νόμῳ ἡμῖν Μωϋσῆς ἐνετείλατο τὰς τοιαύτας λιθάζειν· σὺ οὖν
  τί λέγεις;
  <sup>6</sup> τοῦτο δὲ ἔλεγον πειράζοντες αὐτόν, ἵνα ἔχωσιν κατηγορεῖν αὐτοῦ. ὁ
  δὲ Ἰησοῦς κάτω κύψας τῷ δακτύλῳ κατέγραφεν εἰς τὴν γῆν. <sup>7</sup> ὡς δὲ ἐπέμενον
  ἐρωτῶντες αὐτόν, ἀνέκυψεν καὶ εἶπεν αὐτοῖς,
  <span class="jesus"> Ὁ ἀναμάρτητος ὑμῶν πρῶτος ἐπ' αὐτὴν βαλέτω λίθον· </span>
  <sup>8</sup> καὶ πάλιν κατακύψας ἔγραφεν εἰς τὴν γῆν.
</div>
<div class="even:scroll-left odd:scroll-right">
  <sup>9</sup> οἱ δὲ ἀκούσαντες ἐξήρχοντο εἷς καθ' εἷς ἀρξάμενοι ἀπὸ τῶν πρεσβυτέρων,
  καὶ κατελείφθη μόνος, καὶ ἡ γυνὴ ἐν μέσῳ οὖσα. <sup>10</sup> ἀνακύψας δὲ ὁ Ἰησοῦς
  εἶπεν αὐτῇ,
  <span class="jesus"> Γύναι, ποῦ εἰσιν; οὐδείς σε κατέκρινεν; </span>
  <sup>11</sup> ἡ δὲ εἶπεν, Οὐδείς, κύριε. εἶπεν δὲ ὁ Ἰησοῦς,
  <span class="jesus">
    Οὐδὲ ἐγώ σε κατακρίνω· πορεύου, [καὶ] ἀπὸ τοῦ νῦν μηκέτι ἁμάρτανε.]]
  </span>
  <sup>12</sup> Πάλιν οὖν αὐτοῖς ἐλάλησεν ὁ Ἰησοῦς λέγων,
  <span class="jesus">
    Ἐγώ εἰμι τὸ φῶς τοῦ κόσμου· ὁ ἀκολουθῶν ἐμοὶ οὐ μὴ περιπατήσῃ ἐν τῇ σκοτίᾳ,
    ἀλλ' ἕξει τὸ φῶς τῆς ζωῆς.
  </span>
  <sup>13</sup> εἶπον οὖν αὐτῷ οἱ Φαρισαῖοι, Σὺ περὶ σεαυτοῦ μαρτυρεῖς· ἡ μαρτυρία
  σου οὐκ ἔστιν ἀληθής. <sup>14</sup> ἀπεκρίθη Ἰησοῦς καὶ εἶπεν αὐτοῖς,
  <span class="jesus">
    Κἂν ἐγὼ μαρτυρῶ περὶ ἐμαυτοῦ, ἀληθής ἐστιν ἡ μαρτυρία μου, ὅτι οἶδα πόθεν
    ἦλθον καὶ ποῦ ὑπάγω· ὑμεῖς δὲ οὐκ οἴδατε πόθεν ἔρχομαι ἢ ποῦ ὑπάγω.
  </span>
  <sup>15</sup>
  <span class="jesus">
    ὑμεῖς κατὰ τὴν σάρκα κρίνετε, ἐγὼ οὐ κρίνω οὐδένα.
  </span>
  <sup>16</sup>
  <span class="jesus">
    καὶ ἐὰν κρίνω δὲ ἐγώ, ἡ κρίσις ἡ ἐμὴ ἀληθινή ἐστιν, ὅτι μόνος οὐκ εἰμί, ἀλλ'
    ἐγὼ καὶ ὁ πέμψας με πατήρ.
  </span>
</div>
<div class="even:scroll-left odd:scroll-right">
  <sup>17</sup>
  <span class="jesus">
    καὶ ἐν τῷ νόμῳ δὲ τῷ ὑμετέρῳ γέγραπται ὅτι δύο ἀνθρώπων ἡ μαρτυρία ἀληθής
    ἐστιν.
  </span>
  <sup>18</sup>
  <span class="jesus">
    ἐγώ εἰμι ὁ μαρτυρῶν περὶ ἐμαυτοῦ καὶ μαρτυρεῖ περὶ ἐμοῦ ὁ πέμψας με πατήρ.
  </span>
  <sup>19</sup> ἔλεγον οὖν αὐτῷ, Ποῦ ἐστιν ὁ πατήρ σου; ἀπεκρίθη Ἰησοῦς,
  <span class="jesus">
    Οὔτε ἐμὲ οἴδατε οὔτε τὸν πατέρα μου· εἰ ἐμὲ ᾔδειτε, καὶ τὸν πατέρα μου ἂν
    ᾔδειτε.
  </span>
  <sup>20</sup> Ταῦτα τὰ ῥήματα ἐλάλησεν ἐν τῷ γαζοφυλακίῳ διδάσκων ἐν τῷ ἱερῷ· καὶ
  οὐδεὶς ἐπίασεν αὐτόν, ὅτι οὔπω ἐληλύθει ἡ ὥρα αὐτοῦ.
  <sup>21</sup> Εἶπεν οὖν πάλιν αὐτοῖς,
  <span class="jesus">
    Ἐγὼ ὑπάγω καὶ ζητήσετέ με, καὶ ἐν τῇ ἁμαρτίᾳ ὑμῶν ἀποθανεῖσθε· ὅπου ἐγὼ
    ὑπάγω ὑμεῖς οὐ δύνασθε ἐλθεῖν.
  </span>
  <sup>22</sup> ἔλεγον οὖν οἱ Ἰουδαῖοι, Μήτι ἀποκτενεῖ ἑαυτόν, ὅτι λέγει,
  <span class="jesus"> Ὅπου ἐγὼ ὑπάγω ὑμεῖς οὐ δύνασθε ἐλθεῖν; </span>
  <sup>23</sup> καὶ ἔλεγεν αὐτοῖς,
  <span class="jesus">
    Ὑμεῖς ἐκ τῶν κάτω ἐστέ, ἐγὼ ἐκ τῶν ἄνω εἰμί· ὑμεῖς ἐκ τούτου τοῦ κόσμου
    ἐστέ, ἐγὼ οὐκ εἰμὶ ἐκ τοῦ κόσμου τούτου.
  </span>
  <sup>24</sup>
  <span class="jesus">
    εἶπον οὖν ὑμῖν ὅτι ἀποθανεῖσθε ἐν ταῖς ἁμαρτίαις ὑμῶν· ἐὰν γὰρ μὴ πιστεύσητε
    ὅτι ἐγώ εἰμι, ἀποθανεῖσθε ἐν ταῖς ἁμαρτίαις ὑμῶν.
  </span>
</div>
<div class="even:scroll-left odd:scroll-right">
  <sup>25</sup> ἔλεγον οὖν αὐτῷ, Σὺ τίς εἶ; εἶπεν αὐτοῖς ὁ Ἰησοῦς,
  <span class="jesus"> Τὴν ἀρχὴν ὅ τι καὶ λαλῶ ὑμῖν; </span>
  <sup>26</sup>
  <span class="jesus">
    πολλὰ ἔχω περὶ ὑμῶν λαλεῖν καὶ κρίνειν· ἀλλ' ὁ πέμψας με ἀληθής ἐστιν, κἀγὼ
    ἃ ἤκουσα παρ' αὐτοῦ ταῦτα λαλῶ εἰς τὸν κόσμον.
  </span>
  <sup>27</sup> οὐκ ἔγνωσαν ὅτι τὸν πατέρα αὐτοῖς ἔλεγεν. <sup>28</sup> εἶπεν οὖν
  [αὐτοῖσ] ὁ Ἰησοῦς,
  <span class="jesus">
    Ὅταν ὑψώσητε τὸν υἱὸν τοῦ ἀνθρώπου, τότε γνώσεσθε ὅτι ἐγώ εἰμι, καὶ ἀπ'
    ἐμαυτοῦ ποιῶ οὐδέν, ἀλλὰ καθὼς ἐδίδαξέν με ὁ πατὴρ ταῦτα λαλῶ.
  </span>
  <sup>29</sup>
  <span class="jesus">
    καὶ ὁ πέμψας με μετ' ἐμοῦ ἐστιν· οὐκ ἀφῆκέν με μόνον, ὅτι ἐγὼ τὰ ἀρεστὰ αὐτῷ
    ποιῶ πάντοτε.
  </span>
  <sup>30</sup> Ταῦτα αὐτοῦ λαλοῦντος πολλοὶ ἐπίστευσαν εἰς αὐτόν.
  <sup>31</sup> Ἔλεγεν οὖν ὁ Ἰησοῦς πρὸς τοὺς πεπιστευκότας αὐτῷ Ἰουδαίους,
  <span class="jesus">
    Ἐὰν ὑμεῖς μείνητε ἐν τῷ λόγῳ τῷ ἐμῷ, ἀληθῶς μαθηταί μού ἐστε,
  </span>
  <sup>32</sup>
  <span class="jesus">
    καὶ γνώσεσθε τὴν ἀλήθειαν, καὶ ἡ ἀλήθεια ἐλευθερώσει ὑμᾶς.
  </span>
</div>
<div class="even:scroll-left odd:scroll-right">
  <sup>33</sup> ἀπεκρίθησαν πρὸς αὐτόν, Σπέρμα Ἀβραάμ ἐσμεν καὶ οὐδενὶ δεδουλεύκαμεν
  πώποτε· πῶς σὺ λέγεις ὅτι Ἐλεύθεροι γενήσεσθε; <sup>34</sup> ἀπεκρίθη αὐτοῖς ὁ
  Ἰησοῦς,
  <span class="jesus">
    Ἀμὴν ἀμὴν λέγω ὑμῖν ὅτι πᾶς ὁ ποιῶν τὴν ἁμαρτίαν δοῦλός ἐστιν τῆς ἁμαρτίας.
  </span>
  <sup>35</sup>
  <span class="jesus">
    ὁ δὲ δοῦλος οὐ μένει ἐν τῇ οἰκίᾳ εἰς τὸν αἰῶνα· ὁ υἱὸς μένει εἰς τὸν αἰῶνα.
  </span>
  <sup>36</sup>
  <span class="jesus">
    ἐὰν οὖν ὁ υἱὸς ὑμᾶς ἐλευθερώσῃ, ὄντως ἐλεύθεροι ἔσεσθε.
  </span>
  <sup>37</sup>
  <span class="jesus">
    οἶδα ὅτι σπέρμα Ἀβραάμ ἐστε· ἀλλὰ ζητεῖτέ με ἀποκτεῖναι, ὅτι ὁ λόγος ὁ ἐμὸς
    οὐ χωρεῖ ἐν ὑμῖν.
  </span>
  <sup>38</sup>
  <span class="jesus">
    ἃ ἐγὼ ἑώρακα παρὰ τῷ πατρὶ λαλῶ· καὶ ὑμεῖς οὖν ἃ ἠκούσατε παρὰ τοῦ πατρὸς
    ποιεῖτε.
  </span>
  <sup>39</sup> Ἀπεκρίθησαν καὶ εἶπαν αὐτῷ, Ὁ πατὴρ ἡμῶν Ἀβραάμ ἐστιν. λέγει αὐτοῖς
  ὁ Ἰησοῦς,
  <span class="jesus">
    Εἰ τέκνα τοῦ Ἀβραάμ ἐστε, τὰ ἔργα τοῦ Ἀβραὰμ ἐποιεῖτε·
  </span>
  <sup>40</sup>
  <span class="jesus">
    νῦν δὲ ζητεῖτέ με ἀποκτεῖναι, ἄνθρωπον ὃς τὴν ἀλήθειαν ὑμῖν λελάληκα ἣν
    ἤκουσα παρὰ τοῦ θεοῦ· τοῦτο Ἀβραὰμ οὐκ ἐποίησεν.
  </span>
</div>
<div class="even:scroll-left odd:scroll-right">
  <sup>41</sup>
  <span class="jesus"> ὑμεῖς ποιεῖτε τὰ ἔργα τοῦ πατρὸς ὑμῶν. </span> εἶπαν [οὖν]
  αὐτῷ, Ἡμεῖς ἐκ πορνείας οὐ γεγεννήμεθα· ἕνα πατέρα ἔχομεν τὸν θεόν. <sup
    >42</sup
  > εἶπεν αὐτοῖς ὁ Ἰησοῦς,
  <span class="jesus">
    Εἰ ὁ θεὸς πατὴρ ὑμῶν ἦν, ἠγαπᾶτε ἂν ἐμέ, ἐγὼ γὰρ ἐκ τοῦ θεοῦ ἐξῆλθον καὶ
    ἥκω· οὐδὲ γὰρ ἀπ' ἐμαυτοῦ ἐλήλυθα, ἀλλ' ἐκεῖνός με ἀπέστειλεν. <sup>43</sup>
    διὰ τί τὴν λαλιὰν τὴν ἐμὴν οὐ γινώσκετε; ὅτι οὐ δύνασθε ἀκούειν τὸν λόγον τὸν
    ἐμόν.
  </span>
  <sup>44</sup>
  <span class="jesus">
    ὑμεῖς ἐκ τοῦ πατρὸς τοῦ διαβόλου ἐστὲ καὶ τὰς ἐπιθυμίας τοῦ πατρὸς ὑμῶν
    θέλετε ποιεῖν. ἐκεῖνος ἀνθρωποκτόνος ἦν ἀπ' ἀρχῆς, καὶ ἐν τῇ ἀληθείᾳ οὐκ
    ἔστηκεν, ὅτι οὐκ ἔστιν ἀλήθεια ἐν αὐτῷ. ὅταν λαλῇ τὸ ψεῦδος, ἐκ τῶν ἰδίων
    λαλεῖ, ὅτι ψεύστης ἐστὶν καὶ ὁ πατὴρ αὐτοῦ.
  </span>
  <sup>45</sup>
  <span class="jesus"> ἐγὼ δὲ ὅτι τὴν ἀλήθειαν λέγω, οὐ πιστεύετέ μοι. </span>
  <sup>46</sup>
  <span class="jesus">
    τίς ἐξ ὑμῶν ἐλέγχει με περὶ ἁμαρτίας; εἰ ἀλήθειαν λέγω, διὰ τί ὑμεῖς οὐ
    πιστεύετέ μοι;
  </span>
  <sup>47</sup>
  <span class="jesus">
    ὁ ὢν ἐκ τοῦ θεοῦ τὰ ῥήματα τοῦ θεοῦ ἀκούει· διὰ τοῦτο ὑμεῖς οὐκ ἀκούετε, ὅτι
    ἐκ τοῦ θεοῦ οὐκ ἐστέ.
  </span>
  <sup>48</sup> Ἀπεκρίθησαν οἱ Ἰουδαῖοι καὶ εἶπαν αὐτῷ, Οὐ καλῶς λέγομεν ἡμεῖς ὅτι
  Σαμαρίτης εἶ σὺ καὶ δαιμόνιον ἔχεις;
</div>
<div class="even:scroll-left odd:scroll-right">
  <sup>49</sup> ἀπεκρίθη Ἰησοῦς,
  <span class="jesus">
    Ἐγὼ δαιμόνιον οὐκ ἔχω, ἀλλὰ τιμῶ τὸν πατέρα μου, καὶ ὑμεῖς ἀτιμάζετέ με.
  </span>
  <sup>50</sup>
  <span class="jesus">
    ἐγὼ δὲ οὐ ζητῶ τὴν δόξαν μου· ἔστιν ὁ ζητῶν καὶ κρίνων.
  </span>
  <sup>51</sup>
  <span class="jesus">
    ἀμὴν ἀμὴν λέγω ὑμῖν, ἐάν τις τὸν ἐμὸν λόγον τηρήσῃ, θάνατον οὐ μὴ θεωρήσῃ
    εἰς τὸν αἰῶνα.
  </span>
  <sup>52</sup> εἶπον [οὖν] αὐτῷ οἱ Ἰουδαῖοι, Νῦν ἐγνώκαμεν ὅτι δαιμόνιον ἔχεις.
  Ἀβραὰμ ἀπέθανεν καὶ οἱ προφῆται, καὶ σὺ λέγεις,
  <span class="jesus">
    Ἐάν τις τὸν λόγον μου τηρήσῃ, οὐ μὴ γεύσηται θανάτου εἰς τὸν αἰῶνα.
  </span>
  <sup>53</sup> μὴ σὺ μείζων εἶ τοῦ πατρὸς ἡμῶν Ἀβραάμ, ὅστις ἀπέθανεν; καὶ οἱ προφῆται
  ἀπέθανον· τίνα σεαυτὸν ποιεῖς; <sup>54</sup> ἀπεκρίθη Ἰησοῦς,
  <span class="jesus">
    Ἐὰν ἐγὼ δοξάσω ἐμαυτόν, ἡ δόξα μου οὐδέν ἐστιν· ἔστιν ὁ πατήρ μου ὁ δοξάζων
    με, ὃν ὑμεῖς λέγετε ὅτι θεὸς ἡμῶν ἐστιν·
  </span>
</div>
<div class="even:scroll-left odd:scroll-right">
  <sup>55</sup>
  <span class="jesus">
    καὶ οὐκ ἐγνώκατε αὐτόν, ἐγὼ δὲ οἶδα αὐτόν. κἂν εἴπω ὅτι οὐκ οἶδα αὐτόν,
    ἔσομαι ὅμοιος ὑμῖν ψεύστης· ἀλλὰ οἶδα αὐτὸν καὶ τὸν λόγον αὐτοῦ τηρῶ.
  </span>
  <sup>56</sup>
  <span class="jesus">
    Ἀβραὰμ ὁ πατὴρ ὑμῶν ἠγαλλιάσατο ἵνα ἴδῃ τὴν ἡμέραν τὴν ἐμήν, καὶ εἶδεν καὶ
    ἐχάρη.
  </span>
  <sup>57</sup> εἶπον οὖν οἱ Ἰουδαῖοι πρὸς αὐτόν, Πεντήκοντα ἔτη οὔπω ἔχεις καὶ Ἀβραὰμ
  ἑώρακας;
  <sup>58</sup> εἶπεν αὐτοῖς Ἰησοῦς,
  <span class="jesus">
    Ἀμὴν ἀμὴν λέγω ὑμῖν, πρὶν Ἀβραὰμ γενέσθαι ἐγὼ εἰμί.
  </span>
  <sup>59</sup> ἦραν οὖν λίθους ἵνα βάλωσιν ἐπ' αὐτόν· Ἰησοῦς δὲ ἐκρύβη καὶ ἐξῆλθεν
  ἐκ τοῦ ἱεροῦ.
</div>
