---

---

<footer
  class="w-full flex flex-col items-center justify-between py-8 px-12 bg-grayish"
>
  <div class="flex items-center w-full">
    <span class="text-gray-200">
      © 2023 Archa Solutions, All Rights Reserved.
    </span>
  </div>
</footer>
