<header
  class="w-full py-6 md:py-8 bg-morning flex flex-row gap-2 items-center place-items-center justify-items-center justify-center align-middle"
  style="font-family: 'Lato'"
>
  <img
    alt="Rhema Journal app icon"
    src="/external/rhema-icon.png"
    class="size-16 block p-0"
  />
  <span class="text-center font-bold text-2xl capitalize">Rhema Journal</span>
</header>
